# gitリポジトリから重いファイルを除外する
auto/
data/
resource/
resorce/
model/
.idea/

# 無視するファイル
parsing/corpus/
parsing/lib/ParserOracleArcStdWithSwap.jar
parsing/lib/__pycache__
parsing/bin/__pycache__
parsing/auto/
